<h1 class="app-header" color="blue-dark">
    <span class="title"> Psychometric Test</span>
</h1>
<h2 *ngIf="loggedName" class="menu-header">
    <button class="logout-btn" (click)="logOut()">Log out</button>
    <div class="greeting" color="blue-dark">{{loggedName}}</div>
    <div class="menu-navbar-btns" #btnsmenu>
        <a color="blue-medium" #mngrLink (click)="navigateInsideApp('website/mngrLink.innerText')">Manager</a>
        <a color="blue-medium" #chrtLink (click)="navigateInsideApp('website/chrtLink.innerText')">Charts</a>
    </div>
</h2>