.charts-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chart{
    height:20rem;
}

h1{
    text-align: center;
    margin: 1.6rem 0 0;
}
