/*amChart tooltipHTML design*/


/*The current category shown in the tooltip*/

.tooltip-category {
    color: black;
    text-align: center;
    margin: 0.1rem;
    font-weight: bold;
}

/*data field container of the tooltip*/

.tooltip-container>.field-container {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

/*series value*/
.field-value {
    color: black;
}

/*the series name field of the tooltip*/

.tooltip-container>.field-container>.field-name {
    color: inherit; 
    font-weight: bold;
}