.tree {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: -webkit-fill-available;
}

.filter{
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid;
    border-color: #d9d9d9;
    box-sizing: border-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 0.5rem;
}

.filter::placeholder{
    color: #bfbfbf;
}
/*design the inside filter include the caret*/
.filter::content{
    color:#595959;
}

.filter:focus{
    border: 1px solid;
    border-color: #d9d9d9;
    outline: transparent;
}