/*the menu layout*/
.sticky {
    position: fixed;
    width: 100%;
  }
.menu-header {
    width: 100%;
    margin-bottom: 0; 
    box-shadow: 1px 1px 5px #888888;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

/*Logged user name*/

.greeting {
    font-size: larger;
    margin-left: 0.5%;
}

/*nav bar buttons container layout*/

.menu-navbar-btns {
    margin-left: 1rem;
    text-align: center;
    height: max-content;
}

/*the general container's links design */

a {
    font-size: smaller;
    margin-right: 0.5rem;
    cursor: pointer;
}

/*all the attributes*/

/*cudtom design of the the attribute for the User name*/

.greeting[color="blue-dark"] {
    background-color: inherit;
    color: #444c54;
    text-decoration: none;
}

/*cudtom design of the the attribute for the navbar links*/

a[color="blue-medium"] {
    color: #53768c;
}

/*log out button*/

.logout-btn {
    padding: .375rem .75rem;
    margin: .1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #b82e2e;
    /* background-color: transparent; */
    transition-property: background-color, color;
    transition-duration: 0.5s;
    /* border: 1px solid #b82e2e;  */
}

.logout-btn:hover {
    background-color: #b82e2e;
    color: #fff;
    border-color: #fff;
    text-decoration: none;
}

.logout-btn:focus {
    outline: #b82e2e auto;
}

@media (max-width: 525px) {
    .greeting {
        font-size: large;
    }
    a {
        font-size: small;
    }
}