/* page font*/
/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

/* login page container layout*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* form design*/
form {
  border: 3px solid #f1f1f1;
  width: 65%;
  margin: 0.1rem;
}
/*the div containing the avatar image */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
/*the image itself*/
img.avatar {
  width: 17%;
  border-radius: 50%;
}

/*the container of all form feilds and buttons:*/
/*the layout of the container*/
.login-container {
  padding: 1rem;
}
/*set is a common grop of parts that make up a full form field */
.form-set {
  margin-bottom: 0.5rem;
}

label {
  margin-bottom: 0rem;
}
/*input design*/
.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/*input hover design*/
.form-input:hover {
  border: 3px solid #53768c;
}
/*input focus design*/
.form-input:focus {
  outline: 0px solid #53768c;
  border: 2px solid #53768c;
}


/*login button design*/
.btn-login {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  font-size: 1.6rem;
}
/*every button hover*/
button:hover {
  opacity: 0.8;
}

/*form error for the inputs*/
.is-invalid {
  border: solid 1px red;
}
/*the error massege div class*/
.error {
  color: red;
  font-weight: 200;
}

/*every dialog title*/
[dialog-title]{
  margin-bottom: 0.3rem;
}

/*all the page attributes:*/
/*colors:*/
[color="blue-light"] {
  background-color: #a9c2e6;
}

[color="blue-medium"] {
  background-color: #53768c;
}

[color="blue-dark"] {
  background-color: #444c54;
}

[stroked-button][color="blue-dark"] {
  color: #444c54;
  background-color: #fff;
  border: 1px solid #444c54;
}
[stroked-button][color="blue-dark"]:hover{
  background-color: #444c54;
  color: #fff;
  border-color: #fff;
  opacity:unset;
}
/* [stroked-button][color="blue-dark"]:focus {
  outline: #444c54 auto;
} */

/*button designs:*/
/*button raised design*/
[btn-design="raised"] {
  font-weight: 500;
  outline: 0px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* span.rgtr {
  float: right;
  padding-top: 16px;
  font: 1.2em sans-serif;
} */


.modal {
  display: none;    /* Hidden by default */
  position: fixed;  /* Stay in place */
  z-index: 1;  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;    /* Full width */
  height: 100%;   /* Full height */
  overflow: hidden;   /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);    /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);  /* Black w/ opacity */
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  cursor: default;
  /*margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 0px;
  width: fit-content;
  min-width: 10%;
  padding: 2% 3% 2% 2%;
  border-radius: .3rem;
  outline: transparent;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

#login-error-modal:hover{
  cursor: pointer;
}

.modal-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}

.modal-text{
  text-align: center;
}



/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
      -webkit-transform: scale(0)
  }
  to {
      -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
      transform: scale(0)
  }
  to {
      transform: scale(1)
  }
}

/* Change styles on differents screen sizes */

@media screen and (max-width: 769px) {
  form {
    width: 70%;
    margin: 0.3rem;
  }
  img.avatar {
    width: 25%;
  }
}

@media screen and (max-width: 450px) {
  form {
    width: 80%;
    margin: 0.3rem;
  }
  img.avatar {
    width: 35%;
  }
  /* span.rgt {
    display: block;
    float: none;
  } */
}