/* actions page container layout*/
.actions-container {
    padding: 1.3rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* form design*/
form {
    width: 100%;
}

/*the container of all form feilds and buttons:*/
/*the layout of the container*/
.form-container {
    padding: 0.5rem;
}

/*set is a common grop of parts that make up a full form field */
.form-set {
    margin-bottom: 0.8rem;
}

/*input design*/
.form-input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid ;
    border-color: #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*input hover design*/
.form-input:hover {
    box-shadow: 0 0 8px #444c54;
    cursor: pointer;
}

/*input focus design*/
.form-input:focus {
    outline: 0px solid #444c54;
    box-shadow: 0 0 4px #444c54;
    cursor:text;
}

/*the textarea input for the questions description*/
textarea {
    height: 7rem;
    max-height: 11rem;
}

/*the buttons container*/
.actions-btns {
    display: flex;
    justify-content: space-between;
}

/*behaviors for all buttons*/
button:hover {
    opacity: 0.8;
    cursor: pointer;
}
button:focus {
    outline: 0px transparent;
}

/*invalid form-input value behavior*/
input.ng-dirty.ng-invalid:focus, textarea.ng-dirty.ng-invalid:focus {
    border: solid 1px red;
}


/*Attributes*/
/*1.colors and fills*/
[color="blue-light"] {
    background-color: #a9c2e6;
}

[color="blue-medium"] {
    color: #53768c;
}

[color="blue-dark"] {
    color: #444c54;
}

/*2.Buttons*/
/*2.1button colors*/
button[color="blue-medium"] {
    color: #53768c;
    background-color: inherit;
}

button[color="blue-medium"]:hover {
    color: white;
    background-color: #53768c;
}

button[color="blue-dark"] {
    background-color: #444c54;
    color: white;
}

/*3.text decorations*/
[weight="bold"]{
    font-weight: bold;
}


.p-to-del{
    font-family: inherit;
    display: flex;
    flex-wrap: wrap;
}
