<div class="actions-container">
    <div *ngIf="actionedQuestion.id.trim().length >= 1">
        <h1 weight="bold" color="blue-dark"> {{actionedQuestion.id}}</h1>
        <p>Creation Date: <span weight="bold" color="blue-dark">{{actionedQuestion.creationDate
                |date:"fullDate"}}</span></p>
    </div>

    <form #quesForm="ngForm" class="form-group" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <div class="form-set">
                <label for="name" weight="bold" color="blue-dark" required-icon>Question name</label>
                <input autocomplete="off" type="text" name="name" class="form-input"
                    [ngClass]="{ 'is-invalid': submitted===true && !qname.valid }" required
                    [(ngModel)]="actionedQuestion.name" #qname="ngModel" />
            </div>

            <div class="form-set">
                <label for="description" weight="bold" color="blue-dark" required-icon>Question description</label>
                <textarea type="text" name="description" class="form-input"
                    [ngClass]="{ 'is-invalid': submitted===true && !qdesc.valid}" required
                    [(ngModel)]="actionedQuestion.description" #qdesc="ngModel"></textarea>
            </div>

            <div class="form-set actions-btns">
                <button [ngClass]="{isDisabled: !quesForm.form.valid}" raised-button type="submit"
                    color="blue-dark">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span *ngIf="actionedQuestion.id.trim().length < 1">Create</span>
                    <span *ngIf="actionedQuestion.id.trim().length >= 1">Save</span>
                </button>
                <button stroked-button class="cancel-btn" (click)="cancelActions()" type="button"
                    color="blue-medium">Cancel</button>
            </div>
        </div>
    </form>
</div>